* {
  box-sizing: border-box;
}

body {
  user-select: none;
  font-family: "Montserrat", sans-serif;
}

input, textarea {
  /*all: unset;*/
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.timer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-top: 20px;
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.value {
  font-size: 40px;
}

.label {
  text-transform: uppercase;
}

.time-input {
  height: 40px;
  width: 280px;
  font-size: 20px;
  border: 1px solid slategray;
}

.start-btn {
  padding: 10px;
  font-size: 20px;
}

.form {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.delay {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.delay input {
  border: 1px solid slategray;
  border-radius: 5px;
  height: 40px;
  padding: 10px;
}

input[type="radio"] {
  border: 1px solid slategray;
}

button[type="submit"] {
  height: 30px;
}